/******************************************************************

Stylesheet: 600px以上のタブレットやモニタで適用

******************************************************************/
.flex {
  flex-direction: row;
  flex-wrap: wrap;
}

.houses {
  &__item {
    flex-basis: 50%;
    margin-bottom: 60px;
  }
}

.popular {
  &__container {
    justify-content: space-between;
}

  &__item {
    flex-basis: 47%;
  }
}

.footer {
  & .logo {
    justify-content: flex-start;
  }

  &__li {
    margin-left: 0;
    margin-right: 30px;
  }
}

#modal01, #modal02, #modal03, #modal04 {
  background: #fff;
  width: 400px;
  padding: 20px;
  border-radius: 4px;
  margin: 0 auto;
  z-index: 2;
  transition: transform 0.4s;
  & img {
    width: 100%;
  }
}
#modal01 {
  position: absolute;
  top: 700px;
  left: 0;
  right: 600px;
}
#modal02 {
  position: absolute;
  top: 700px;
  left: 350px;
  right: 0;
}
#modal03 {
  position: absolute;
  top: 920px;
  left: 0;
  right: 600px;
}
#modal04 {
  position: absolute;
  top: 920px;
  left: 350px;
  right: 0;
}

.content {
  display: none;
  font-size: 15px;
}