/******************************************************************

Stylesheet: ベーススタイル

******************************************************************/
body {
  font-family: 'Oswald', 'Noto Sans JP', sans-serif;
}
img {
  max-width: 100;
  vertical-align: bottom;
}
.font-sm {
  font-size: 14px;
}
.font-md {
  font-size: 17px;
}
.font-lr {
  font-size: 17px;
}
.font-lg {
  font-size: 25px;
}
.mb-sm {
  margin-bottom: 16px !important;
}
.mb-lg {
  margin-bottom: 80px !important;
}
.pb-sm {
  padding-bottom: 16px !important;
}
.pb-lg {
  padding-bottom: 80px !important;
}
.content-width {
  width: 90%;
  margin: 0 auto;
  max-width: $contentMaxWidth;
}

.main-title {
  @extend .font-lg;
  font-weight: 600;
  margin-bottom: 0;
  display: block;
}

.sub-title {
  @extend .font-sm;
  color: $cSubTitle;
}
.flex {
  display: flex;
  flex-direction: column;
}
.purple {
  color: $cPink;
}

#container {
  background-color: $cWhite;
  position: relative;
  z-index: 10;
  transition: transform 0.5s, box-shadow 0.5s;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $navHeight;
  background-color: transparent;
  display: flex;
  align-items: center;
  z-index: 100;

  &.triggered {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 10px 0 25px -10px rgba(0, 0, 0, 0.5);
  }

  &__nav {
    display: none;
  }

  &__nav {
    @extend .flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

  &__ul {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__li {
    padding: 0;
    margin-left: 20px;

  & > a {
    color: $cBlack;
    text-decoration: none !important;
    text-transform: uppercase;
    
    &:hover {
      color: $cPink;
    }
  }
}

  & .logo {
    font-size: 38px;
    justify-content: center;
  }

  &__inner {
    display: flex;
    justify-content:  space-between;
    align-items: center;
    width: 100%;
    @extend .content-width;
  }
}

.houses {
  @extend .content-width;

  &__inner {
    @extend .flex;
  }

  &__title {
    @extend .font-md;
    @extend .mb-sm;
  }

  &__btn {
    text-align: center;
    flex-basis: 100%;
  }
}

.popular {

  &__inner {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 90%;
      background-color: $cBgGray;
    }
  }
  &__header {
    @extend .content-width;
  }
  &__container {
    position: relative;
    z-index: 2;
    @extend .flex;
    @extend .content-width;
    @extend .pb-sm;
  }
  &__title {
    @extend .font-md;
    @extend .mb-sm;
  }
  &__btn {
    text-align: center;
    flex-basis: 100%;
  }
  &__img {
    height: 150px;
    overflow: hidden;
    margin-bottom: 5px;

    & > img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }
}

.logo {
font-size: 42px;
display: flex;

  &__img {
    width: 1.5em;
    height: 1.5em;
  }

  &__world {
    color: $zPink;
  }
}

.footer {
  padding: 60px 0;
  @extend .content-width;

  &__nav {
    @extend .flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

  &__ul {
    @extend .flex;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__li {
    padding: 0;
    margin: 10px;

  & > a {
    color: $cSubTitle;
  }
}

  & .logo {
    font-size: 38px;
    justify-content: center;
  }
}


#open01, #open02, #open03, #open04,
#close01, #close02, #close03, #close04 {
  cursor: pointer;
}

#mask {
  background: rgba(0,0,0,0.4);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  &.hidden {
    display: none;
  }
}

#modal01, #modal02, #modal03, #modal04 {
  background: #fff;
  width: 100%;
  padding: 20px;
  border-radius: 4px;
  margin: 0 auto;
  z-index: 2;
  transition: transform 0.4s;
  & img {
    width: 100%;
  }
}
#modal01 {
  position: absolute;
  top: 600px;
  left: 0;
  right: 550px;
  &.hidden {
    transform: translate(-1100px, 0);
  }
}

#modal02 {
  position: absolute;
  top: 1000px;
  left: 0;
  right: 550px;
  &.hidden {
    transform: translate(1100px, 0);
  }
}
#modal03 {
  position: absolute;
  top: 1300px;
  left: 0;
  right: 550px;
  &.hidden {
    transform: translate(-1100px, 0);
  }
}
#modal04 {
  position: absolute;
  top: 1400px;
  left: 0;
  right: 550px;
  &.hidden {
    transform: translate(1100px, 0);
  }
}

#close01, #close02, #close03, #close04 {
  font-size: 50px;
  text-align: right;
}

#mask {
  background: rgba(0,0,0,0.4);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  &.hidden {
    display: none;
  }
}


#map {
  width: 100%;
  height: 400px;
}